.startGame{
    background: linear-gradient(to bottom right, #ffffff 50%, #fff3eb 50%); 
    width: 100%;
    height: 100vh;

}
.startGame .content{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.startGame .section {
    display: flex;
    flex: 1 1 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}
.startGame .title{
    font-family: 'Inter', sans-serif;
    color: #1C1C21;
    font-size: 5.6rem;
}
.startGame .btn{
    font-family: 'Inter', sans-serif;
    background-color: #FF8B37;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;   
    max-width: 296px; 
    height: 64px;
    width: 100%;
    font-size: 2rem ;
}

@media only screen and (max-width: 853px) {

   .startGame .content {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;

    }

    .startGame .section {
        padding: 0;
        height: auto;
        align-items: unset;
        margin: 0;
        text-align: center;

    }

   .startGame .title { 
        font-size: 3.2rem;
    }

   .startGame .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .startGame .btn {
        max-width: 288px;
        width: 100%; 
        height: 48px;
    }

}
