.overGame{
    background: #F5F5F7; 
    width: 100%;
    height: 100vh;

}
.overGame .content{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.overGame .section {
    display: flex;
    flex: 1 1 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.overGame .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.overGame .title{
    font-family: 'Inter', sans-serif;
    color: rgba(28, 28, 33, 0.5);
    font-size: 3.2rem;
}
.overGame .earned{
    font-size: 5.6rem;
}

.overGame .btn{
    font-family: 'Inter', sans-serif;
    background-color: #FF8B37;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;   
    max-width: 296px; 
    height: 64px;
    width: 100%;
    font-size: 2rem ;
}

@media only screen and (max-width: 853px) {

   .overGame .content {
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
    }

    .overGame .section {
        padding: 0;
        height: auto;
        align-items: unset;
        margin: 0;
        flex: 0 0;
    }

   .overGame .title {
        position: relative;
        font-size: 1.8rem;
        text-align: center;
    }
    .overGame .earned {
        text-align: center;
        font-size: 3.2rem;

    }

   .overGame .wrap {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .overGame .btn {
        max-width: 288px;
        width: 100%; 
        height: 48px;
    }

}
