.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.answer{
  background-image: url(../../../img/inactive.svg);
  background-repeat: round;
  height: 7.2rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.answer span{
  font-size: 2rem;
  margin-right: .8rem;
  text-align: center;
  color: #FF8B37;
}
.answer h1{
  font-size: 2rem;
  font-weight: 400;
  max-width: 200px;
  width:100%
}

.correct{
background-image: url(../../../img/correct.svg);
}

.wrong{
  background-image: url(../../../img/wrong.svg);
}

.answer:active{
  border: none;
}

@media only screen and (max-width: 853px){
  .wrapper{
  grid-template-columns: 1fr;

  }
  .answer{
    background-position: center;
    flex-basis: unset;
    background-repeat: space;
    background-size: contain;
  }
  .answer h1{
    font-size: 1.4rem;
    font-weight: 400;
  }
  .answer span {
    font-size: 14px;
    font-weight: 600;

  }
}
